---
interface CardProps {
  title: string;
  description: string;
  tags: string[];
  links: { label: string; url: string }[];
}

const props = Astro.props as CardProps;
const { title, description, tags, links } = props;
---

<div class="card">
  <h2>{title}</h2>
  <p>{description}</p>
  <ul>
    {tags?.length > 0 && tags.map((tag) => <li>{tag}</li>)}
  </ul>
  <ul>
    {
      links?.length > 0 &&
        links.map((link) => (
          <li>
            <a href={link.url}>{link}</a>
          </li>
        ))
    }
  </ul>
</div>
